{* This is the welcome page, you can delete it *}
{block content}
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="https://bit.dev.markiza.sk/dashboard">Dokumentacia</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Služobník [Servant]</h3>
    </div>

    <div class="jumbotron">
        <h1>Markíza Služobník API</h1>
        <p class="lead">Markíza <b>Služobník</b> od slova <b>sluha</b> je aplikácia ktorá robí API "sluhu" pre aplikácie Markíza.sk Tvnoviny.sk Voyo.sk. Súčasťou aplikácie su public a private API</p>
        <p><a class="btn btn-lg btn-success" href="api/v1/fortuna-liga" role="button">Skús Fortuna Liga Api</a></p>
    </div>

    <div class="row marketing">
        <div class="col-lg-12">
            <h3>API - request:[HOST]/api/v1/[apiName]</h3>
            <p>V Module <b>api</b> sa nachadyaju kontrolery pre jednotlivé API služby, vktoré môžu byť v lokálnych, alebo globálnych službách</p>

            <h3>SERVICES /služby/ - request:[HOST]/services/[serivceName]</h3>
            <p>V tomto prípade sa službou nemyslí služba ako servisa z programovacieho hladiska, ale služba, ktorá ako miniaplikácia sprostredkúva nejaký komunikačný ucelený interface.</p>

            <h3>CRON/JOBS - request:[HOST]/jobs/v1/[jobTask]</h3>
            <p>V tomto thread sa spracovavajú automatizovane ulohy.</p>
        </div>

       
    </div>

    <footer class="footer">
        <p>&copy; MARKÍZA - SLOVAKIA, spol. s r.o., Bratislavská 1/a, 843 56 Bratislava</p>
    </footer>

</div> <!-- /container -->

